.task-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.task-name-container {
  max-width: 300px;
  margin-right: 1em;
}

.task-list-btn-container button {
  padding: 0.5em;
  cursor: pointer;
}

.btn-remove {
  margin-left: 1em;
}
